name: Samed Panel APK Builder
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Kodlari Cek
        uses: actions/checkout@v4

      - name: Java 17 Kurulumu
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Gradle Iznini Ver
        run: chmod +x gradlew

      - name: APK Derle
        run: ./gradlew assembleDebug --no-daemon

      - name: APK Dosyasini Yukle
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: Samed-Panel-APK
          path: app/build/outputs/apk/debug/app-debug.apk
